
@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline|Bungee+Inline|Bungee+Shade|Monda');

:root {
	--transparent-purple: rgba(82, 69, 174, .7);
	--purple: rgb(82, 69, 174);
	--dark-purple: rgb(26, 20, 31);
	--brown: rgb(92, 79, 77);
	--green: rgb(124, 134, 120);
	--khaki: rgb(164, 154, 137);
	--white: #E6E6E6;
	--black: #191919;
}

body, html{
	font-family: 'Bungee Hairline', cursive;
	font-weight: bold;
	background-color: var(--black);
	color: var(--transparent-purple);
}

.btn{
	font-family: 'Bungee Hairline', cursive;
	color: var(--black);
	font-family: 'Monda', sans-serif;
	border-color: var(--dark-purple);
}

p{
	font-family: 'Monda', sans-serif;
}

label{
	font-family: 'Monda', sans-serif;
}

.title-area{
	width:100%;
	height: 100vh;
	background-image: url(../images/evolve.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar-default{
	background-color: var(--transparent-purple);
	border-color: var(--dark-purple);
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover,
.dropdown-header{
	background-color: var(--dark-purple);
	color: var(--white);
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover,
.dropdown-menu .divider{
	background-color: var(--purple);
	color: var(--white);
}

.dropdown-menu{
	background-color: var(--transparent-purple);
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover{
	color: var(--white);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover{
	font-family: 'Bungee Shade', cursive;
}

.main-title {
	margin: 50vh auto 0 auto;
	text-align: center;
	transform: translateY(-50%);
}

h1, h3{
	font-family: 'Bungee Inline', cursive;
}

h1{
	color: var(--white);
}

.panel{
	color: var(--black);
	background-color: var(--transparent-purple);
	border-color: var(--dark-purple);
}

.brown-btn{
	background-color: var(--brown);
}

.green-btn{
	background-color: var(--green);
}

.grid { margin: 0 auto; }
.grid-item { width: 200px; margin-bottom: 10px;}
.grid-item--width2 { width: 400px; }